---
# Install aurora agent 
- name: Copy the aurora agent zip
  ansible.builtin.copy:
    src: aurora-agent.zip
    dest: 'c:\ludus'

- name: Unzip agent to aurora folder
  community.windows.win_unzip:
    src: 'c:\ludus\aurora-agent.zip'
    dest: 'c:\aurora'
    delete_archive: true
    creates: 'c:\aurora'

- name: Copy the aurora agent licence
  ansible.builtin.copy:
    src: aurora-agent.lic
    dest: 'c:\aurora'

- name: Build aurora install command
  ansible.builtin.set_fact:
    aurora_install_cmd: >-
      aurora-agent-64.exe --install
      -c agent-config-{{ ludus_aurora_config_preset }}.yml
      {{ '--dashboard' if ludus_aurora_dashboard else '' }}
      {{ ('--json --logfile "' + ludus_aurora_log_path + '"') if ludus_aurora_json_logging else '' }}

- name: Install aurora
  ansible.windows.win_command:
    cmd: '{{ aurora_install_cmd }}'
    chdir: 'C:\aurora'

- name: clean folder
  ansible.windows.win_file:
    path: 'C:\aurora'
    state: absent

