---
- name: Check if Splunk Universal Forwarder is installed
  ansible.windows.win_stat:
    path: 'C:\Program Files\SplunkUniversalForwarder\etc\apps'
  register: splunk_apps_path

- name: Create aurora_agent_inputs_app directory structure
  ansible.windows.win_file:
    path: 'C:\Program Files\SplunkUniversalForwarder\etc\apps\aurora_agent_inputs_app\local'
    state: directory
  when: splunk_apps_path.stat.exists

- name: Copy inputs.conf to Splunk Universal Forwarder
  ansible.builtin.template:
    src: inputs.conf.j2
    dest: 'C:\Program Files\SplunkUniversalForwarder\etc\apps\aurora_agent_inputs_app\local\inputs.conf'
  when: splunk_apps_path.stat.exists
  notify: restart splunk forwarder
