---
- name: Check if aurora service is installed
  win_service:
    name: Aurora Agent
  register: service_aurora

# Defender don't like SigmaHQ rules
- name: Exclude defender
  ansible.windows.win_powershell:
    script: |
      Add-MpPreference -ExclusionPath c:\\aurora
      Add-MpPreference -ExclusionPath "{{ ludus_aurora_install_path }}"
  when: not service_aurora.exists

- name: Install aurora as service
  ansible.builtin.include_tasks:
    file: install.yml
  when: not service_aurora.exists

- name: Copy custom agent-config template for UDP logging
  ansible.builtin.template:
    src: agent-config.yml.j2
    dest: '{{ ludus_aurora_install_path }}\agent-config.yml'
  when: ludus_aurora_udp_target != ''

- name: Add bginfo.exe exclusion to Aurora process excludes
  community.windows.win_lineinfile:
    path: '{{ ludus_aurora_install_path }}\config\process-excludes.cfg'
    line: '{{ item }}'
    insertafter: EOF
    create: no
  loop:
    - '# Exclusion added by Ansible for Ludus, very noisy process'
    - 'C:\\ludus\\background\\bginfo\.exe'
  notify: restart aurora service

- name: Configure Splunk Universal Forwarder
  ansible.builtin.include_tasks:
    file: splunkuf.yml
  when: ludus_aurora_splunk_forwarder
